* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* LOGIN */
.login-body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #020617;
  padding: 40px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 6px;
  border: none;
}

.login-box button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.login-box button:hover {
  background: #1e40af;
}

#error {
  color: red;
  margin-top: 10px;
  display: block;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 220px;
  height: 100%;
  background: #020617;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  padding: 12px;
  color: #cbd5f5;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 6px;
}

.sidebar a:hover {
  background: #1e293b;
}

/* MAIN */
.main {
  margin-left: 240px;
  padding: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  flex: 1;
  border-radius: 10px;
}

.card p {
  font-size: 30px;
  margin-top: 10px;
}

.panel {
  background: #020617;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
}
